:root{
    --font-use: "Playwrite AU SA", serif;
    --text-hov-1: #D0DDD0;
    --text-hov-2: #E16A54;
    --color-1: #AB886D;
    --button-hov-1: #E82561;
}
*{
    font-family: var(--font-use);
}
a{
    text-decoration: none;
    color: #000;
}
