.slogan{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Header  */
.header{
    padding: 0.8rem 0;
    position: sticky;
    top: 0;
    left: 0;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    z-index: 1000;
}
.header .inner-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    padding: 0;
}
.header .name{
    font-size: 16px;
}
.header .input-container{
    width: 30%;
    height: 100%;
}
.header input{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    padding: 0.513rem 0.7rem;
}

.header a img{
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
}
.header .nav{
    width: 55%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.header .nav li{
    width: calc(100%/4);
}
.header .nav li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    transition: 0.6s all;
}
.header .nav li:hover a{
    background-color: var(--text-hov-1);
}
.header .menuBar{
    font-size: 30px;
    display: none;
    color: #000;
}
@media (max-width: 992px){
    .header .nav{
        display: none;
    }
    .header .menuBar{
        display: block;
    }
    .header .input-container{
        width: 50%;
    }
}
/* End Header  */
/* Categories  */
.categories{
    background-color: #000;
}
.categories .inner-wrap{
    width: 100%;
}
.categories .inner-wrap a{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    
    padding: 0.3rem 0;
}

.categories .inner-wrap a:hover{
    background-color: var(--text-hov-2);
}
@media (max-width: 992px){
    .categories .inner-wrap a{
        border-radius: 15px;
    }
}
/* End Categories  */
/* Banner 1  */
.banner-1{
    padding: 1rem 0;
}
.banner-1 .inner-wrap{
    width: 100%;
    position: relative;
}
.banner-1 .inner-wrap button{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--color-1);
    opacity: 0.5;
}
.banner-1 .inner-wrap button span{
    display: inline-block;
    font-size: 17px;
    /* transform: translate(-5%, -5%); */
    font-family: 'Times New Roman', Times, serif;
}
.banner-1 .inner-wrap img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
/* End Banner 1  */
/* Sell Gocery  */
.sellGocery .box{
    background-color: #fff;
    border-radius: 15px;
}
.sellGocery .box .inner-wrap{
    padding: 0.1rem;
    width: 100%;
    height: 370px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
.sellGocery .box .inner-wrap .imageContainer{
    margin-bottom: 15px;
}
.sellGocery .box .inner-wrap h3{
    font-size: 15px;
}
.sellGocery .box .inner-wrap button{
    font-size: 17px;
    margin-bottom: 25px;
    border-radius: 15px;
    transition: 0.6s all;
}
.sellGocery .box .inner-wrap button:hover{
    background-color: var(--button-hov-1);
}
.sellGocery .box .inner-wrap p{
    padding: 0;
    margin: 0;
}
.sellGocery .box .inner-wrap img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
/* End Sell Gocery  */