.slogan{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Effect  */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
.cart::before, .cart::after{
    content: "";
    top: 0;
    left: 0;    
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: ripple 3s infinite;
}
.cart::after{
    animation-delay: 0.5s;
}
.cart::before{
    animation-delay: 0.9s;
}
.cart.hidden::after, .cart.hidden::before{
    animation: none;
}
/* End Effect  */
/* Float Items  */
.cart{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #fff;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart.hidden{
    display: none;
}

.cart .floatIcon{
    font-size: 20px;
    transition: 0.6s all;
}
.cart:hover .floatIcon{
    transform: scale(1.3);
}

.modalContainer{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color:rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.modalContainer.show{
    opacity: 1;
    pointer-events: auto;
}
.modalContainer .modal{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    height: auto;
    display: block; 
    position: relative;
    overflow:hidden;
    padding: 30px 50px;
    border-radius: 5px;
}
.modalContainer .modal .box{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
}
.modalContainer .modal .imgContainer{
    padding-right: 5px;
    width: 50%;
    display: block;
}
.modalContainer .modal img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

}
.modalContainer .modal .contentContainer{
    display: block;
    width: 50%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}
.modalContainer .modal .contentContainer .name{
    margin-bottom: 15px;
    font-size: 20px;
}
.modalContainer .modal .contentContainer .description{
    margin-bottom: 15px;
}
.modalContainer .modal .buttons{
    display: flex; 
    justify-content: flex-end;
}
.modalContainer .modal .addToCart{
    margin-left: 25px;
    border-radius: 15px;
    width: 80px;
}
.modalContainer .modal .closeButton{
    border-radius: 15px;
    width: 80px;
}

/* End Float Items  */
/* Header  */
.header{
    padding: 0.8rem 0;
    position: sticky;
    top: 0;
    left: 0;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 50;
}
.header .inner-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    padding: 0;
}
.header .name{
    font-size: 16px;
}
.header .input-container{
    width: 30%;
    height: 100%;
}
.header input{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    padding: 0.513rem 0.7rem;
}

.header a img{
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
}
.header .nav{
    width: 55%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.header .nav li{
    width: calc(100%/4);
}
.header .nav li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    transition: 0.6s all;
}
.header .nav li:hover a{
    background-color: var(--text-hov-1);
}
.header .menuBar{
    font-size: 30px;
    display: none;
    color: #000;
}
@media (max-width: 992px){
    .header .nav{
        display: none;
    }
    .header .menuBar{
        display: block;
    }
    .header .input-container{
        width: 50%;
    }
}
/* End Header  */
/* Categories  */
.categories{
    background-color: #000;
}
.categories .inner-wrap{
    width: 100%;
}
.categories .inner-wrap a{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    
    padding: 0.3rem 0;
}

.categories .inner-wrap a:hover{
    background-color: var(--text-hov-2);
}
@media (max-width: 992px){
    .categories .inner-wrap a{
        border-radius: 15px;
    }
}
/* End Categories  */
/* Banner 1  */
.banner-1{
    padding: 1rem 0;
}
.banner-1 .inner-wrap{
    width: 100%;
    position: relative;
}
.banner-1 .inner-wrap button{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--color-1);
    opacity: 0.5;
}
.banner-1 .inner-wrap button span{
    display: inline-block;
    font-size: 17px;
    /* transform: translate(-5%, -5%); */
    font-family: 'Times New Roman', Times, serif;
}
.banner-1 .inner-wrap img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
/* End Banner 1  */
/* Sell Gocery  */
.sellGrocery{
    margin: 1rem 0;
    
}
.sellGrocery .box{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 0.3rem;
}
.sellGrocery .box .inner-wrap{
    padding: 0.1rem;
    width: 100%;
    height: 370px;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    border-radius: 15px;
    overflow: hidden;
}
.sellGrocery .box .inner-wrap .imageContainer{
    margin-top: 5px;
    overflow: hidden;
    transition: 0.6s all;
    border-radius: 15px;
}
.sellGrocery .box .inner-wrap .imageContainer img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: 0.6s all;
    
}
.sellGrocery .box .inner-wrap:hover .imageContainer img{
    transform: scale(1.1);
}
.sellGrocery .box .inner-wrap h3{
    font-size: 15px;
}
.sellGrocery .box .inner-wrap button{
    font-size: 17px;
    margin-bottom: 25px;
    border-radius: 15px;
    transition: 0.6s all;
}
.sellGrocery .box .inner-wrap button:hover{
    background-color: var(--button-hov-1);
}
.sellGrocery .box .inner-wrap p{
    padding: 0;
    margin: 0;
}
.viewMore{
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.6s all;
}
.viewMore:hover{
    color: var(--button-hov-1);
}
/* End Sell Gocery  */
/* Footer  */
.footer{
    padding: 1rem 0;
    margin-top: 15px;
    margin-bottom: 0;
    background-color: #000;
}
.footer .part1 ul{
    list-style-type: none;  
    display: flex;
    justify-content: center; 
}
.footer .part1 ul li{
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 0.7rem;
    transition: 0.6s all;
}
.footer .part1 ul li:hover{
    background-color: var(--button-hov-1);
}

.footer .part1 ul li a{
    display: block;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s all;
    font-size: 20px;
}
.footer .part1 ul li:hover a{
    color: #fff;
}
.footer hr{
    color: #fff;
    margin: 1rem 0;
}
.footer .part2{
    text-align: center;
    font-size: 18px;
    color: #fff;
}
/* End Footer  */